# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
.venv/

# Distribution files
build/
dist/
*.egg-info/
.eggs/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store